<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Hello, folks!
    </h1>
        
        
        <!--(commented out in p3)  -->
 <!-- <ul> 
        {% for person in people %} (This stuff was Added in p2 )
        <li>{{ person.fname }} {{ person.lname }}</li>
        {% endfor %}
    </ul> 
 (commented out in p3) -->
 
     {% for person in people %}  <!-- Added in part 3  --> 
    <h2>{{ person.fname }} {{ person.lname }}</h2>
    <ul>
        {% for note in person.notes %}
        <li>
            {{ note.content }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}


    
</body>
</html>
